body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .container {
    display: flex;
    height: calc(100vh - 70px);
  }
  
  .column {
    flex: 1;
    padding: 1em;
    border: 1px solid #ddd;
    overflow: auto;
  }
  
  .left {
    border-right: none;
    display: flex;
    flex-direction: column;
  }
  
  .button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .button-bar-left {
    display: flex;
    align-items: center;
  }
  
  .button-bar-right {
    display: flex;
    align-items: center;
  }
  
  button#uploadBtn,
  button#transformBtn,
  button#deployBtn {
    font-size: 1.5em;
    padding: 0.5em 1em;
  }
  
  #transformBtn,
  #deployBtn {
    margin-left: 1em;
  }
  
  #deployBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #editorContainer {
    flex: 1;
    height: calc(100% - 3em);
    display: none;
  }
  
  .editor-container {
    height: 300px;
    margin-bottom: 1em;
    border: 1px solid #ddd;
  }
  
  h2 {
    margin: 0 0 0.5em 0;
  }
  
  .error-message {
    margin-top: 1em;
    color: red;
    font-size: 1em;
    white-space: pre-wrap;
  }
  
  .success-message {
    margin-top: 1em;
    color: green;
    font-size: 1em;
    white-space: pre-wrap;
  }
  
  .deployment-message {
    margin-top: 1em;
    color: blue;
    font-size: 1em;
    white-space: pre-wrap;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  