body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .container {
    display: flex;
    height: calc(100vh - 70px); /* Adjust based on navbar height */
  }
  
  .column {
    flex: 1;
    padding: 1em;
    border: 1px solid #ddd;
    overflow: auto;
  }
  
  .left {
    border-right: none;
    display: flex;
    flex-direction: column;
  }
  
  .button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .button-bar-left {
    display: flex;
    align-items: center;
  }
  
  .button-bar-right {
    display: flex;
    align-items: center;
  }
  
  button#uploadBtn,
  button#transformBtn,
  button#deployBtn {
    font-size: 1.5em;
    padding: 0.5em 1em;
  }
  
  #transformBtn,
  #deployBtn {
    margin-left: 1em;
  }
  
  #editorContainer {
    flex: 1;
    height: calc(100% - 3em); /* Adjust based on button bar height and margin */
    display: none;
  }
  
  .editor-container {
    height: 300px; /* Adjust height as needed */
    margin-bottom: 1em;
    border: 1px solid #ddd;
  }
  
  h2 {
    margin: 0 0 0.5em 0;
  }
  
  .error-message {
    margin-top: 1em;
    color: red;
    font-size: 1em;
    white-space: pre-wrap;
  }
  
  .success-message {
    margin-top: 1em;
    color: green;
    font-size: 1em;
    white-space: pre-wrap;
  }
  
  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  